.list-item-card{
    display: flex;
    flex-direction: column;
}

.list-item-details{
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    align-self: flex-start;
}

.resize{
    height: 319px;
    object-position: center;
    object-fit: contain !important;
}

.miniature-container:first-child{
    max-height: 20px;
}

.miniature{
    max-height: 150px;
}

.miniature + .miniature{
    margin-top: 0.9rem;
}

.img-show{
    min-height: 200px;
    max-height: 600px;
    width: 100%;
}
img{
    object-position: center;
    object-fit: contain !important;
}

.remove-button-style{
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.remove-button-style:hover{
    color: #c2303e !important;
}